<mat-toolbar color="primary">
  <img src="assets/logo.png" alt="Chat Icon" class="toolbar-icon" />
  <span>Welcome to the Chat!</span>

  <ng-container
    *ngIf="authService.currentUser$ | async as user; else loginButton"
  >
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-button routerLink="login" class="login-button">
      <mat-icon class="login-icon">login</mat-icon>
      Login
    </button>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet> </router-outlet>
</div>
